/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

/* ===== DOMYŚLNIE: TRYB JASNY ===== */
#nprogress .bar {
  background: #000; /* czarny pasek */

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Glow (jasny) */
#nprogress .peg {
  box-shadow: 0 0 10px #000, 0 0 5px #000;
}

/* Spinner (jeśli kiedyś włączysz) */
#nprogress .spinner-icon {
  border-top-color: #000;
  border-left-color: #000;
}

/* ===== TRYB CIEMNY ===== */
html.dark #nprogress .bar {
  background: #fff; /* biały pasek */
}

html.dark #nprogress .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}

html.dark #nprogress .spinner-icon {
  border-top-color: #fff;
  border-left-color: #fff;
}
